.buttonList {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap-half);
}

.buttonHover {
  background-color: var(--fg-100);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-radius);
  height: 100%;
  transition: 150ms ease;
  transition-property: width, transform, opacity;
}

.buttonTrigger {
  padding: 0.25rem 0.5rem;
  font-size: var(--font-size-sm);
  display: inline-flex;
  align-items: center;
  gap: 4px;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--fg);
  opacity: 0.5;
  transition: opacity 0.15s;
}

.buttonTrigger svg {
  pointer-events: none;
}

.buttonTrigger:hover,
.buttonTrigger[aria-selected='true'] {
  color: var(--fg-200);
  text-decoration: none;
  color: var(--fg);
  opacity: 0.9;
}

.buttonTrigger[aria-selected='true']::after {
  content: '';
  position: absolute;
  inset: auto 12px 0;
  height: 2px;
  background-color: black;
  border-radius: 5px 0;
}

.arrowIcon {
  display: grid;
  place-content: center;
  transform: translate(0, 0);
  transition: transform 0.15s;
}

.buttonTrigger:hover .arrowIcon {
  transform: translate(3px, -3px);
}
