.root {
  background: var(--header-bg);
  font-weight: var(--font-weight-bold);
  padding: var(--gap-75) var(--gap-15) var(--gap-half);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  align-items: center;
  z-index: 1;
}

.title {
  font-size: var(--font-size-md);
  opacity: 0;
  transform: translateY(8px);
  transition: var(--transition-long);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: auto;
  width: 100%;
  font-family: var(--font-serif);
  font-weight: var(--font-weight-regular);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.backButton {
  line-height: 0;
  padding: 0;
  padding-right: var(--gap-75);
  margin-right: var(--gap-75);
  border-right: var(--border);
  opacity: 0.5;
  transition: opacity 0.15s;
}

.backButton:hover {
  opacity: 1;
}

.backButton svg {
  transform: translateX(0);
  transition: transform 0.1s;
}

.backButton:hover svg {
  transform: translateX(-4px);
}

.root .headerContent {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 678px) {
  .root,
  .article {
    padding: var(--gap-half) 0;
  }
  .root .headerContent {
    padding: 0;
  }

  .article .headerContent {
    transform: translateX(-2.5rem);
  }

  .backButton {
    padding-right: var(--gap);
    margin-right: var(--gap-15);
  }
}
