.root {
  background: var(--header-bg);
  font-weight: var(--font-weight-bold);
  padding: var(--gap-75) var(--gap-15) var(--gap-half);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  align-items: center;
  z-index: 1;
}

.title {
  font-size: var(--font-size-m);
  opacity: 0;
  transform: translateY(8px);
  transition: var(--transition-long);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80%;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.backButton {
  line-height: 0;
  padding: 0;
  padding-right: var(--gap-75);
  margin-right: var(--gap-75);
  border-right: var(--border);
}

@media screen and (min-width: 678px) {
  .root {
    padding: var(--gap-half) 15.5%;
  }
  .article {
    padding: var(--gap-half) 10.5%;
  }
  .backButton {
    padding-right: var(--gap);
    margin-right: var(--gap-doble);
  }
}

@media screen and (min-width: 1024px) {
  .root {
    padding: var(--gap-half) 10%;
  }
  .article {
    padding: var(--gap-half) 18.5%;
  }
}

@media screen and (min-width: 1440px) {
  .root {
    padding: var(--gap-half) 11.5%;
  }
  .article {
    padding: var(--gap-half) 23.8%;
  }
}
