.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--gap) 0;
}

.root > a,
.root > select {
  margin: var(--gap) 0;
}

.root > a p {
  font-size: var(--font-size-s);
}

.themeSelect {
  width: 7rem;
  padding: var(--gap-quarter) var(--gap-half);
  color: var(--fg);
  font-size: var(--font-size-s);
}
