.root {
  padding: var(--section-space);
}

.root:not(:last-of-type) {
  border-bottom: 1px solid var(--borders);
}

.span {
  margin-left: var(--gap-half);
  transition: var(--transition-short);
}

.root a:hover .span {
  color: var(--fg);
}

.info,
.span {
  color: var(--fg-light);
}

.img {
  margin: 3rem auto 0;
  transition: var(--transition-long);
  transform: scale(1);
}

.img:hover {
  transform: scale(1.03);
}

.links {
  display: flex;
  margin: var(--gap-15) 0;
}

.links a {
  margin-right: var(--gap);
}
