.root {
  padding: var(--section-space);
  border-bottom: var(--border);
  display: flex;
  flex-wrap: wrap;
}

.root:last-of-type {
  border: none;
}

.headingLabel {
  margin-left: var(--gap-half);
  transition: var(--transition-short);
}

.info,
.headingLabel {
  color: var(--fg-light);
}

.root a:hover .headingLabel {
  color: var(--fg);
  text-decoration: underline;
}

.links {
  display: flex;
  margin: var(--gap-15) 0;
}

.links a {
  margin-right: var(--gap-15);
}

.imgContainer {
  margin: 0 auto;
}

.img {
  width: 100%;
  transform: scale(1);
  transition: var(--transition-long);
}

.img:hover {
  transform: scale(1.03);
}

@media screen and (min-width: 678px) {
  .imgContainer {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    justify-content: space-between;
    align-items: center;
  }
  .root:nth-child(even) {
    flex-direction: row-reverse;
  }
  .projectInfo {
    flex: 0 0 40%;
  }
  .imgContainer {
    flex: 0 0 1;
    margin: 0;
  }
}
