.root {
  padding: 2rem 0;
  display: grid;
}

.root:last-of-type {
  border: none;
}

.icon {
  margin-left: var(--gap-half);
  transition: var(--transition-short);
  vertical-align: middle;
}

.info,
.icon {
  color: var(--fg-light);
  font-size: var(--font-size-xs);
}

.projectTitle h2 {
  vertical-align: middle;
}

.projectBody p {
  font-size: var(--font-size-md);
  margin: 0;
}

.root a:hover .icon {
  color: var(--fg);
  display: inline-block;
}

.root a .icon svg {
  margin-left: 0.15rem;
  vertical-align: middle;
  transform: translate(0);
  transition: transform 0.1s;
}

.root a:hover .icon svg {
  transform: translate(3px, -3px);
}

.links {
  display: flex;
  margin: var(--gap-half) -0.5rem 0;
}

.links a {
  font-size: var(--font-size-xs);
}

.imgContainer {
  margin: 0 auto;
}

.projectLink {
  position: relative;
}

.projectLink:hover {
  text-decoration: none;
}

.projectLink::before {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  transition: all 0.15s;
  content: ' ';
  background-color: var(--fg);
}

.projectLink:hover::before {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .root {
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 1rem;
    place-items: start;
  }
}
