.root {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  transition: var(--transition-short);
}

.root:hover {
  opacity: 1;
}

.label {
  margin-left: var(--gap-half);
  font-size: var(--font-size-m);
  font-style: italic;
}
