.root {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-short);
  font-size: var(--font-size-xs);
  gap: var(--gap-half);
}

.arrowIcon {
  transform: translate(0);
  vertical-align: middle;
  transition: transform 0.1s;
}

.root:hover {
  text-decoration: none;
}

.root:hover .arrowIcon {
  transform: translate(3px, -3px);
}

.label {
  font-size: var(--font-size-m);
  font-style: italic;
}
