@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme Colors */
  --text-primary: hsl(180, 3%, 8%);
  --text-secondary: hsla(180, 2%, 8%, 0.6);

  --border-primary: hsla(180, 2%, 8%, 0.2);
  --border-secondary: hsla(180, 2%, 8%, 0.6);
  --border-tertiary: hsla(180, 2%, 8%, 0.1);

  --background-primary: hsl(0, 0%, 98%);
  --background-secondary: hsl(0, 0%, 95%);
  --background-tertiary: hsl(0, 0%, 97%);

  --background-header: hsla(0, 0%, 98%, 0.6);

  --background-selection-1: #a0aff9;
  --background-selection-2: #8ddbaf;
  --background-selection-3: #f8eba7;
  --background-selection-4: #ffe1b6;
  --background-selection-5: #7ce9e8;
  --background-selection-6: #d5ee93;
  --background-selection: var(--background-selection-1);
  --text-selection: var(--text-primary);

  --shiki-foreground: hsl(0, 0%, 25%);

  --shiki-token-constant: var(--text-primary);
  --shiki-token-string: var(--text-primary);
  --shiki-token-link: var(--text-primary);

  --shiki-foreground: hsl(180, 3%, 20%);
  --shiki-token-punctuation: hsl(180, 3%, 20%);
  --shiki-token-string-expression: hsl(180, 3%, 35%);
  --shiki-token-keyword: hsl(180, 3%, 40%);
  --shiki-token-comment: hsl(180, 3%, 50%);

  --shiki-token-function: hsl(270, 79%, 58%);
  --shiki-token-highlight: hsla(270, 79%, 58%, 8%);
}

[data-theme='dark'] {
  --text-primary: hsl(0, 0%, 95%);
  --text-secondary: hsla(0, 0%, 95%, 0.6);

  --border-primary: hsla(0, 0%, 95%, 0.2);
  --border-secondary: hsla(0, 0%, 95%, 0.6);
  --border-tertiary: hsla(0, 0%, 95%, 0.1);

  --background-primary: hsl(200, 6%, 10%);
  --background-secondary: hsl(200, 6%, 12%);
  --background-tertiary: hsl(200, 7%, 11%);

  --background-header: hsla(200, 6%, 10%, 0.6);

  --text-selection: var(--background-primary);

  --shiki-foreground: hsl(220, 9%, 87%);
  --shiki-token-punctuation: hsl(220, 7%, 90%);
  --shiki-token-string-expression: hsl(220, 7%, 80%);
  --shiki-token-keyword: hsl(220, 7%, 65%);
  --shiki-token-comment: hsl(220, 7%, 55%);

  --shiki-token-function: hsl(155, 100%, 80%);
  --shiki-token-highlight: hsla(155, 100%, 90%, 8%);
}

a,
button,
button[role='tab'],
div[role='tabpanel'],
div[role='button'],
select {
  @apply rounded-sm focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-purple-300 focus-visible:ring-offset-1 focus-visible:ring-offset-purple-400 focus-visible:dark:ring-teal-800 focus-visible:dark:ring-offset-teal-700;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

pre[tabindex='0'] {
  @apply rounded-sm focus:outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-purple-300 focus-visible:ring-offset-1 focus-visible:ring-offset-purple-400 focus-visible:dark:ring-teal-800 focus-visible:dark:ring-offset-teal-700;
  -webkit-tap-highlight-color: transparent;
}

img {
  max-width: 100%;
  display: block;
}
