.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}

.navButton {
  max-width: 40%;
  cursor: pointer;
  transition: var(--transition-short);
  opacity: var(--hover-opacity);
}
@media screen and (min-width: 768px) {
  .navButton {
    max-width: 35%;
  }
}
.navButton:hover {
  opacity: 1;
}

.navButton .rightArrow,
.navButton .leftArrow {
  transform: translateX(0);
  transition: transform 0.1s;
}

.navButton:hover .rightArrow {
  transform: translateX(6px);
}
.navButton:hover .leftArrow {
  transform: translateX(-6px);
}

.navHeader {
  display: flex;
  align-items: center;
}
.navHeader h4 {
  padding: 0 var(--gap-half);
}
