.navContainer {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
.navButton {
  max-width: 45%;
  cursor: pointer;
  transition: var(--transition-short);
  opacity: var(--hover-opacity);
}
.navButton:hover {
  opacity: 1;
}
.navHeader {
  display: flex;
  align-items: center;
}
.navHeader h4 {
  padding: 0 var(--gap-quarter);
}
