.header {
  margin: 6rem 0 2rem;
}

.header h2 {
  font-size: var(--font-size-lg);
}

.info {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.date {
  color: var(--fg-light);
}
@media screen and (min-width: 768px) {
  .header {
    margin: 8rem 0 2rem;
  }
}
