.root {
  padding: var(--gap-half) 0;
  display: flex;
  flex-direction: column;
}

.entry {
  margin: var(--gap-doble) 0;
  cursor: pointer;
  transition: var(--transition-short);
  display: grid;
  position: relative;
}

.entry:hover {
  text-decoration: none;
}

.date {
  font-size: var(--font-size-xs);
  color: var(--fg-light);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-short);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  gap: var(--gap-half);
  opacity: 0.8;
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: transparent;
  max-width: max-content;
  align-self: center;
  margin-top: 3rem;
  color: var(--fg);
}

.button:hover {
  text-decoration: none;
  opacity: 1;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0.25rem 0;
  font-size: var(--font-size-m);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-s);
  display: flex;
  justify-content: space-between;
}

.icon {
  transform: translateX(0);
  transition: all 0.15s;
}

.entry:hover .icon {
  transform: translateX(5px);
}

.entry:hover .title {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .entry {
    grid-template-columns: 3fr 9fr;
    gap: 1rem;
  }
}
