.root {
  padding: var(--gap-half) 0;
}

.entry {
  margin: var(--gap-doble) 0;
  cursor: pointer;
  transition: var(--transition-short);
}
.entry:hover {
  opacity: var(--hover-opacity);
}

.date {
  font-size: var(--font-size-s);
  color: var(--fg-light);
}

.button {
  border: none;
  color: var(--fg);
  font-weight: var(--font-weight-bold);
  text-decoration: underline;
  margin: 3.5rem auto 0;
}

.button:hover,
.button:disabled {
  border: none;
  opacity: var(--hover-opacity);
}

.title {
  margin: 0.25rem 0;
  font-size: var(--font-size-m);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-s);
}
