.italic {
  font-style: italic;
}

.bold {
  font-weight: var(--font-weight-bold);
}

.align-center {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.inline-icon {
  margin: 0;
  margin-right: var(--gap-half);
}

.vertical-margin-half {
  margin: var(--gap-half) 0;
}

.icon-stroke {
  stroke: var(--fg);
}

.icon-fill {
  fill: var(--fg);
}

.no-user-select {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.low-opacity {
  opacity: 0.6;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 98vh;
  }
}
