@import './variables.css';
@import './classes.css';
@import './markdown.css';
@import './fonts.css';

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--highlight);
  color: var(--bg);
}

html {
  line-height: var(--font-line-height-m);
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-size: var(--font-size-s);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.25rem 0;
  font-family: var(--font-sans);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-s);
}

h1 {
  font-size: var(--font-size-xl);
  font-family: var(--font-serif);
  font-weight: var(--font-weight-regular);
}

h2 {
  font-size: var(--font-size-md);
}

h3 {
  font-size: var(--font-size-md);
}

h4 {
  font-size: var(--font-size-md);
}

p,
li {
  font-size: var(--font-size-md);
  margin: 0.25rem 0;
}

a {
  text-decoration: none;
  color: var(--fg);
}

button,
a,
select {
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

select {
  outline: none;
  background: transparent;
  border: none;
  display: block;
  font-size: var(--font-size-xs);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition-short);
}

img {
  max-width: 100%;
  display: block;
}

pre,
code {
  font-family: var(--font-mono);
  background-color: var(--overlay);
}
