@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,300&display=optional');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=optional');

* {
  box-sizing: border-box;
}

::selection {
  text-shadow: none;
  background: var(--highlight);
  color: var(--fg);
}

html {
  line-height: var(--font-line-height-m);
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-size: var(--font-size-s);
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
}

p,
li {
  font-size: var(--font-size-m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-height-l);
}

h1 {
  font-size: var(--font-size-xll);
  line-height: var(--font-line-height-s);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

pre,
code {
  font-family: var(--font-mono);
  background-color: var(--overlay);
}

a {
  font-style: italic;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
