article {
  max-width: 100%;
  line-height: 1.9;
}
article > * + p {
  color: var(--fg);
  margin: var(--gap-15) 0;
}

article img {
  max-width: 100%;
  width: auto;
  margin: auto;
  display: block;
  border-radius: var(--border-radius);
}

article h2 {
  margin-top: 4rem;
}

article h3 {
  margin-top: var(--gap-triple);
}

article hr {
  border: none;
  border-top: var(--border);
}

article em {
  display: block;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--fg-light);
}

/* Blockquote*/
article blockquote {
  margin: 0;
  padding: var(--gap) var(--gap-15);
  border-left: 4px solid var(--highlight);
  background-color: var(--overlay);
}

article blockquote * {
  color: var(--fg-light);
}

article blockquote p {
  font-style: italic;
  font-size: var(--font-size-sm);
  line-height: 1.25;
}

article blockquote p code {
  font-style: normal;
}

/* Code Snippets */
article pre {
  overflow-x: auto;
  background: var(--overlay);
  border-radius: var(--border-radius);
  line-height: 1.8;
  padding: var(--gap) var(--gap-15);
  font-size: var(--font-size-sm);
}

article *:not(pre) > code {
  font-size: var(--font-size-sm);
  padding: 0 8px;
  background: none;
}

article *:not(pre) > code::before,
article *:not(pre) > code::after {
  content: '\`';
  color: var(--fg);
  user-select: none;
}

/* List */
article ul {
  padding: 0 var(--gap-75);
  list-style-position: inside;
  list-style-type: circle;
}

article ol {
  padding: var(--gap-half);
  list-style-position: outside;
}

article li {
  margin-top: var(--gap);
}

article ul li {
  list-style-type: disc;
  color: var(--fg);
  font-size: var(--font-size-sm);
  line-height: 1.25;
}

article ul li strong {
  color: var(--fg);
}

article a {
  position: relative;
  text-decoration: none;
}

article a:hover {
  text-decoration: none;
}

article a::after {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  transition: all 0.15s;
  content: ' ';
  background-color: black;
  opacity: 0.15;
}

article a::before {
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -1px;
  transition: all 0.15s;
  content: ' ';
  background-color: black;
}

article a:hover::before {
  width: 100%;
}
