:root {
  /* Typography */
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-serif: 'Newsreader', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-mono: 'DM Mono', 'Consolas', 'Liberation Mono', 'Menlo', monospace;

  /* Font Size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xll: 2rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Font Weight */
  --font-line-height-s: 1.25;
  --font-line-height-m: 1.5;
  --font-line-height-l: 1.75;
  --font-line-height-xl: 1.9;

  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap-75: 0.75rem;
  --gap: 1rem;
  --gap-15: 1.5rem;
  --gap-doble: 2rem;
  --gap-triple: 3rem;
  --section-space: 6rem 0 7.5rem;

  /* transitions */
  --transition-short: 0.15s;
  --transition-long: 0.3s;

  /* Borders */
  --border-radius: 5px;
  --border: 1px solid var(--borders-color);
  --border-hover: 1px solid var(--fg);
  --border-hover-light: 1px solid var(--fg-light);

  /* Effects */
  --hover-opacity: 0.3;

  /* Light Theme Colors */
  --bg: #ffffff;
  --fg: #131414;
  --fg-100: rgba(19, 20, 20, 0.1);
  --fg-200: rgba(19, 20, 20, 0.2);
  --fg-light: rgba(19, 20, 20, 0.6);
  --overlay: #fafafa;
  --borders-color: #e3e5ea;
  --header-bg: rgba(255, 255, 255, 0.45);
  --highlight: #00ffe0;
}

/* Dark Theme Colors */
[data-theme='dark'] {
  --bg: #181a1b;
  --fg: rgba(255, 255, 255, 0.95);
  --fg-100: rgba(255, 255, 255, 0.1);
  --fg-200: rgba(255, 255, 255, 0.2);
  --fg-light: rgba(255, 255, 255, 0.6);
  --overlay: #242526;
  --borders-color: #2d3033;
  --header-bg: rgba(24, 26, 27, 0.45);
  --highlight: #6100ff;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --bg: #181a1b;
    --fg: #ffffff;
    --fg-light: rgba(255, 255, 255, 0.6);
    --overlay: #1f2021;
    --borders-color: #313335;
    --header-bg: rgba(24, 26, 27, 0.45);
    --highlight: #6100ff;
  }
}
