:root {
  /* Typography */
  --font-sans: 'Fira Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-mono: 'DM Mono', 'Consolas', 'Liberation Mono', 'Menlo', monospace;

  /* Font Size */
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.125rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 2rem;
  --font-size-xll: 2.75rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Font Weight */
  --font-line-height-s: 1.25;
  --font-line-height-m: 1.5;
  --font-line-height-l: 1.75;
  --font-line-height-xl: 1.9;

  /* Light Theme Colors */
  --bg: #ffffff;
  --fg: #131414;
  --fg-light: rgba(19, 20, 20, 0.6);
  --overlay: #fafafa;
  --borders: #e3e5ea;
  --header-bg: rgba(255, 255, 255, 0.45);
  --highlight: #00ffe0;

  /* Spacing */
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap-75: 0.75rem;
  --gap: 1rem;
  --gap-15: 1.5rem;
  --gap-doble: 2rem;
  --gap-triple: 3rem;
  --section-space: 6rem 0 7.5rem;

  /* transitions */
  --transition-short: 0.1s;
  --transition-long: 0.3s;

  /* Others */
  --border-radius: 5px;
  --border: 1px solid var(--borders);
}

/* Dark Theme Colors */
[data-theme='dark'] {
  --bg: #181a1b;
  --fg: #ffffff;
  --fg-light: rgba(255, 255, 255, 0.6);
  --overlay: #242526;
  --borders: #313335;
  --header-bg: rgba(24, 26, 27, 0.45);
  --highlight: #6100ff;
}
